@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@layer utilities {
  button, .btn {
    @apply items-center justify-around p-2 transition-all duration-300 hover:scale-110
  }

  .btn-basic {
    @apply bg-gray-200 shadow-sm 
  }

  .btn-primary {
    @apply bg-gray-100 shadow-sm rounded-2xl
  }

  .btn-red {
    @apply bg-red-800 text-white rounded-2xl
  }

  .btn-green {
    @apply bg-green-500 text-white rounded-2xl hover:bg-yellow-500
  }

  .title-style {
    @apply text-red-800 italic border-2 border-dashed border-gray-500 p-2;
    text-shadow: 
    -1px -1px 0 #fff,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

  .text-outline {
    
  }
}